Baseline_Performance.png
clip_bm25_Performance.png
clip_only_Performance.png
Demo.JPG
EECS_549_Project_Proposal.pdf
EECS_549_Project_Update.pdf
image-grid.png
Plan of Work Update.JPG
Project Files.zip
small_dataset.jsonl
Work Plan.JPG
__pycache__/Metrics.cpython-311.pyc
